* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
/* @font-face {
  font-family: freshline;
  src: url(freshline.font);
} */
.ririri{
  background-color: black;
}
.display-flex {
  background-color: rgb(17, 223, 144);
  width: 100%;
  height: 100%;
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;  
} 
.logoheader {
    width: 100%;
    height: 45%;
    background-color: #020b4b;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-between; 
  }
 
 
.title-logo{
   
    color: #f31414;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font: bold;
   /*  font-family: freshline; */
    margin-top: 22px;
}
.img-logo{
    width: 105px;
    height: 90px;
}

.menuClass{
  /*  position:relative; 
  top: 100px;
  left: 10px;
  
  margin-top: 20px;*/
  
  width: 50%;
    height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: left;
    
   
}
.orderClass{
  /* position:relative;
  margin-top: 10px;
  right: 10px; 
  display: flex; */
  padding: 10px 20px 10px;
  background-color: #d1d6da;
  justify-content:center;
  align-content: center;
    width: 50%;
    height: 70%;
    text-align: left;
}
.titleTabs{
  width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: flex;
  align-content:space-between;
  justify-content: center;
  
}
.titleTabsOrder{
  display: flex;
  overflow: hidden;
   /*border: 1px solid #ccc;*/
  background-color: #f1f1f1;
  justify-content: space-around;
  align-content: space-around;
 /* margin-top: 5px;
  display: flex;
  width: 70%;
  margin-right: 10px;
  padding-left: 90px;*/
}
.titleTabs button {
  background-color: inherit;
  float: left;
  border-bottom:black 1px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  
}
.titleTabsOrder button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor:default;
  padding: 14px 16px;
  transition: 0.3s;
  
  
}
.titleTabs button:hover {
  background-color: #ddd;
}
.tabContent {
  
  background-color: rgb(17, 223, 144);
  /* border: 2px solid red;  */
 
  display: flex;
  /* top: 300px; */
  /* display: none;
  padding: 6px 12px;
  border: 2px solid red;
  border-top: none */
}
.input-name{
  color: black;
        background-color: white;
        border:none;
        border-bottom:1px solid black;
      
}
.tabContentOrder{
  /*position: relative;
  background-color:lightcyan;
  display: flex;
  flex-direction: column;
  padding-left: 360px;
  margin-right: 10px;*/
  
  background-color: gold;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 
}
.menu-list{
 /*  position: relative;
 /*  top: -4px;
  left: 20px;
 
  /* bottom: 0vh; */
  /* padding: 50; */
  width: 100%;
  /*flex-wrap: wrap;*/
  display: flex;
  flex-direction: column;
  list-style-position: inside;
 list-style-type: none;
 justify-content: space-between;


 margin-bottom: 0;


}
.menu-item-list{
 /*padding: 0 0 0 5%; */

 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: flex-start;
 }
 
 .menu-item-list-order{
  /*padding: 0 0 0 5%; */
 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  }
  .elements{
    width : 80px;
    display: flex;
  flex-direction: row;  
  }
  .numbers{
    width : 32px;
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }
  .less{
    width: 32px; 
    height: 2px;
    /*  padding: 1em; */
     text-decoration: teal;
     background-color: silver;
   }
  .input-Bott-Order{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
#canti{
  position: relative;
  padding: 0 10% 0 2%;
   /*width: 15%; */
  
  display: flex;
 /*  padding: 1em; */
 /*  display: none;
  border: 2px solid red;
  border-top: none */
}
.quant-prod{
  width: 20px;
}
.more{
 width: auto; 
 /*  padding: 1em; */
  text-decoration: teal;
  background-color: silver;
}
.arrow{
  width: 20px; 
  /*  padding: 1em; */
   text-decoration: teal;
   background-color: silver;
 }
.btnDelete{
  width: 30px;
}
.btnOrderSend{
  width: 100%;
  background-color: magenta;
  font-weight: bold;
  
}
.total{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.detPro{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.container{
  width: 100px;
  background-color: #0c0e40;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
}
.colorDetOrd{
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chkbox{
  width: 25px;
  height: 25px;
}
.back{
  width: 55px;
  height: 40px;
}
.linkis{
  color: #f31414;
  font: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: inherit;
  float: left;
  border-bottom:black 1px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.container1{
  padding: 10px 20px 10px;
  background-color: #d1d6da;
  justify-content:center;
  align-content: center;
  width: 50%;
  height: 70%;
  text-align: left;
}
.llll{
  
  background-color: #d1d6da;
  justify-content:center;
  align-content: center;
    width:100%;
    height: 20%;
    text-align: center;
}

.view{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font: bold;
  bottom: unset;
}