* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .main {
  width: 100%;
  height: 100%;
  display: flexbox;
} */
.logoheader {
    width: 100%;
    height: 80%;
    text-align: center;
    color: red;
  }

.logo{
  width: 100%;
  height: 100%;
  object-fit: fill;
}


.menuClass{
  position: relative;
  top: 100px;
  left: 10px;
  align-content: center;
    width: 40%;
    height: 100%;
    text-align: left;
}

.titleTabs{
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  align-content: space-between;
}

.titleTabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.titleTabs button:hover {
  background-color: #ddd;
}
.tabContent {
  position: relative;
  background-color:lightcyan;
  /* border: 2px solid red;  */
 
  display: flex;
  /* top: 300px; */
  /* display: none;
  padding: 6px 12px;
  border: 2px solid red;
  border-top: none */
}
.menu-list{
 /*  top: -4px;
  left: 20px;
 
  /* bottom: 0vh; */
  /* padding: 50; */
  list-style-position: inside;
 list-style-type: none;
}
.menu-item-list{
 padding: 0 20% 0 5%;
 display: flex;
 }
  
#canti{
  position: relative;
  padding: 0 10% 0 2%;
   /*width: 15%; */
  
  display: flex;
 /*  padding: 1em; */
 /*  display: none;
  border: 2px solid red;
  border-top: none */
}
.more{
  position: relative;
  padding: 0 10% 0 2%;
 /*width: 15%; */
 
 /*  padding: 1em; */
  text-decoration: teal;
  display: flex;
}